<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>%s</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div class="is-flex is-justify-content-center" style="min-height: 100vh">
      %s
      <div class="content is-6 column">%s</div>
    </div>
  </body>
</html>
